{:paths ["src" "resources" "test"]

 :deps
 {org.clojure/java.classpath  {:mvn/version "0.3.0"}
  org.clojure/java.jdbc       {:mvn/version "0.7.8"}
  org.clojure/tools.logging   {:mvn/version "0.4.1"}
  org.clojure/tools.namespace {:mvn/version "0.2.10"}
  honeysql                    {:mvn/version "0.9.4"}}

 :aliases
 {:dev
  {:extra-deps {org.clojure/clojure {:mvn/version "1.9.0"}
                expectations        {:mvn/version "2.1.10"}
                postgresql          {:mvn/version "9.3-1102.jdbc41"}}}}}
